* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#navBarList {
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0%;
	width: 100%;
}
#navBarRight {
	display: flex;
}
#navBarContainer {
	background-color: rgb(135, 162, 172);
	height: 10vh;
	display: flex;
	align-items: center;
}
a {
	text-decoration: none;
	color: black;
	padding: 10px;
}
span {
	padding: 10px;
}
.increaseOrDecreaseQtyContainer {
	display: flex;
	align-items: center;
}
.increaseQty,
.decreaseQty {
	margin: 5px;
	height: 2vh;
}
.itemCardContainer {
	border: 2px solid black;
	margin: 2%;
	width: 20%;
}
#home {
	width: 100vw;
	height: 100vh;
	background-image: url(https://images.unsplash.com/photo-1562204320-a243f073adf2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
#startShoppingLink {
	position: absolute;
	left: 75%;
	top: 60%;
}
#startShoppingButton {
	height: 4em;
	width: 11em;
	margin: 10%;
	border: 2px solid rgb(166, 175, 179);
	background-color: transparent;
	color: rgb(166, 175, 179);
	transition: 0.3s;
}
#startShoppingButton:hover {
	cursor: pointer;
	background-color: #eee8e8;
	color: black;
}
html {
	width: 100vw;
	height: 100vh;
}
