#navBarList {
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0%;
	width: 100%;
}
#navBarRight {
	display: flex;
}
#navBarContainer {
	background-color: rgb(135, 162, 172);
	height: 10vh;
	display: flex;
	align-items: center;
}
a {
	text-decoration: none;
	color: black;
	padding: 10px;
}
span {
	padding: 10px;
}
