@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body,
html {
	width: 100vw;
	height: 100%;
	margin: 0px;
	padding: 0px;
}
button {
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
}
button:hover {
	cursor: pointer;
}
#navBarList {
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0%;
	width: 100%;
	height: 100%;
}
#navBarRight {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
#navBarContainer {
	background-color: rgb(233, 238, 240);
	height: 10vh;
	display: flex;
	align-items: center;
	min-height: 80px;
}
a {
	text-decoration: none;
	color: black;
	padding: 10px;
}
span {
	padding: 10px;
}
.increaseOrDecreaseQtyContainer {
	display: flex;
	align-items: center;
	justify-content: center;
}
.increaseOrDecreaseQtyContainer > button {
	background-color: rgb(233, 238, 240);
}
.increaseQty,
.decreaseQty,
.displayQty {
	height: 3vh;
	width: 2.5vw;
	border: none;
	text-align: center;
	border: solid 1px #9c9c9c;
	min-width: 23px;
	min-height: 29px;
}

.addToCartButton,
.deleteFromCartButton {
	width: 7.5vw;
	min-width: 100px;
	min-height: 38px;
	height: 4vh;

	padding: 5px;
	border-radius: 5px;
	transition: 300ms;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 8px;
}
.addToCartButton,
.deleteFromCartButton {
	background: white;
	color: black;
	border: solid 1px #9c9c9c;
}
.addToCartButton:hover {
	background: #0d8600;
	border: solid 1px transparent;
	color: white;
}
.deleteFromCartButton:hover {
	background: #ce0909;
	border: solid 1px transparent;
	color: white;
}

.displayQty {
	display: flex;
	justify-content: center;
	align-items: center;
	border-right: none;
	border-left: none;
}
.itemCardContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	margin-bottom: 25px;
	height: 100%;
	box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 5px 8px 0 rgba(0, 0, 0, 0.14),
		0 1px 14px 0 rgba(0, 0, 0, 0.12);
}

.shopItemCard {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.shopItemCard * {
	padding: 2%;
}
.addToCartButton {
	margin: 2%;
	padding: 2%;
}

#home {
	width: 100%;
	height: 90vh;
	background-image: url(https://images.unsplash.com/photo-1562204320-a243f073adf2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80);
	background-repeat: no-repeat;
	background-position-x: 10%;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}
#startShoppingLink {
	position: absolute;
	top: 60%;
	left: 75%;
}

#startShoppingButton {
	height: 5em;
	width: 11em;
	border-radius: 10px;
	border: 2px solid rgb(166, 175, 179);
	background-color: rgb(233, 238, 240);
	color: black;
	font-size: 15px;
	cursor: pointer;
}
#startShoppingButton span {
	cursor: pointer;
	display: inline;
	position: relative;
	transition: 0.5s;
	font-size: 15px;
}
#startShoppingButton:hover span {
	padding-right: 25px;
}
#startShoppingButton span:after {
	content: "\00bb";
	position: absolute;
	top: 0.5;

	opacity: 0;
	right: 8px;
	transition: 0.5s;
}
#startShoppingButton:hover span:after {
	opacity: 1;
}
#root {
	font-family: "Montserrat", sans-serif;
	font-size: 1em;
	height: 100%;
}
#taylorMadeLogo {
	width: 150px;
	height: 35px;
}

#golfBagLogo {
	width: 35px;
	height: 35px;
}
#golfBagLink {
	height: 55px;
}
#inShoppingCartCount {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 1.5%;
	right: 11px;
	border-radius: 30px;
	background-color: #e64343;
	height: 28px;
	width: 29.44px;
}
#shoppingCartElement {
	display: flex;
	align-items: center;
	margin-right: 20px;
	height: 100%;
}
#shopElement {
	height: 100%;
	display: flex;
	align-items: center;
}
#homepage {
	height: 100%;
	display: flex;
	align-items: center;
}

.productImagesInShop,
.productImagesInCart {
	max-width: 100%;
	height: auto;
}
.productImagesInCart {
	max-height: 250px;
}
.productImagesInShop {
	max-height: 400px;
}
.cartImageDiv {
	width: 35%;
}

#itemCardGridContainer {
	display: grid;
	flex-wrap: wrap;
	grid-template-columns: 32% 32% 32%;
	grid-template-rows: repeat(5, minmax(20%, 1fr));
	column-gap: 2%;
	row-gap: 1%;
	min-height: 100%;
	margin: 2%;
}
#cartContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.cartItemCardContainer {
	display: flex;
	width: 100%;
	max-height: 290px;
	padding: 2%;
	border-bottom: 2px solid rgb(183, 187, 189);
}
.cartItemCard {
	display: flex;
	align-items: center;
	width: 100%;
}
.cartItemInfoDiv {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.itemNameAndPriceContainer,
.qtyAndRemoveButtonContainer {
	display: flex;
	flex-direction: column;

	height: 100%;
}
.itemNameAndPriceContainer * {
	margin: 5px;
}
.itemNameAndPriceContainer {
	align-items: flex-start;
}
.qtyAndRemoveButtonContainer {
	align-items: flex-end;
}

#totalsContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: rgb(183, 187, 189);
	padding: 3%;
	max-height: 231px;
}
#totalsContainer * {
	margin: 10px;
}
#yourCartIsEmpty {
	margin: 2%;
	text-align: center;
}
#checkoutButton {
	width: 172px;
	background: #0d8600;
	font-size: 1.5em;
	border: 1px solid transparent;
	color: white;
	padding: 5px;
	line-height: 1.5em;
}
#checkoutButton:hover {
	background: #12ac01;
}
#emptyCartContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#startShoppingElement:hover {
	text-decoration: underline;
}

@media only screen and (max-width: 800px) {
	#startShoppingLink {
		left: 40%;
		top: 25%;
	}
	#home {
		background-position-x: 17%;
	}
}
@media only screen and (max-width: 350px) {
	#startShoppingLink {
		left: 50%;
		padding: 0;
	}
	#taylorMadeLogo {
		width: 135px;
		height: 40px;
	}
	#shopElement > a {
		font-size: 0.75em;
	}
	#golfBagLogo {
		width: 27px;
		height: 27px;
	}
	#inShoppingCartCount {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 1.5%;
		right: 20px;
		height: 22px;
		width: 23px;
	}
}
@media only screen and (max-width: 300px) {
}

@media only screen and (max-width: 800px) {
	#startShoppingButton {
		height: 4.5em;
		width: 10em;
	}
}
@media only screen and (max-width: 650px) {
	#itemCardGridContainer {
		grid-template-columns: 49% 49%;
		grid-template-rows: repeat(5, minmax(13%, 1fr));
	}
}
@media only screen and (max-width: 650px) {
	#itemCardGridContainer {
		grid-template-columns: 100%;
		grid-template-rows: repeat(5, minmax(7%, 1fr));
		column-gap: 1%;
		row-gap: 30px;
		margin: 5%;
	}
}
